.block {
    background: black;
    width: 500px;
    color: red;
}
.item {
    border: 2px solid red;
}
.block_item {
    border: 2px solid yellow;
}

.text {
    display: none;
}



.cont {
    background: rebeccapurple;
    width: 500px;
    display: flex;
    margin-top: 100px;
    justify-content: space-around;
}

.cont_item {
    border: 2px solid red;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.te {
    display: none;
    top: -85px;
}
