button {
    width: 30px;
    height: 30px;
    margin-bottom: 10px;
}
.counter {
    width: 65px;
    height: 65px;
    background-color: aqua;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}